.openoffice/
cache
common-lisp
darktable
easytag
emacs/ac-comphist.dat
emacs/auto-save-list
emacs/elpa
emacs/tetris-scores
emacs/tramp
emacs/url
fb-client/apikey
google-chrome*/
gtk-2.0/
gtk-3.0
herbstluftwm/
irssi/away.log
ncmpcpp/error.log
spacefm
stumpwm/storage
tint2
vimperator/info
vili/
xmonad/*
!xmonad/xmonad.hs
zsh/.zcompdump
